/*body {
    background-image: none;
    background-color: #EEEEEE;
    font-family: Arial, sans-serif;
}*/

h1 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

.containerCus {
    display: flex;
    justify-content: center; /* Để căn giữa theo chiều ngang */
    align-items: center; /* Để căn giữa theo chiều dọc */
}



