
@{
    ViewData["Title"] = "Hello";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Order Successful</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/css/View/Items/Index.css">
    <link rel="stylesheet" href="~/css/View/Bill/Success.css">
</head>
<body>
    <div class="success-container">
        <div class="success-icon">&#10004;</div>
        <div class="success-message">Đặt hàng thành công! Chúng tôi sẽ gọi và xác nhận trong thời gian sớm nhất.</div>
        <button class="continue-button" onclick="location.href='@Url.Action("Index", "Items")'">Tiếp tục mua sắm</button>
    </div>
    <div style="height: 30px"></div>
    <!-- Start Script -->
    <script src="assets/js/jquery-1.11.0.min.js"></script>
    <script src="assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/templatemo.js"></script>
    <script src="assets/js/custom.js"></script>

</body>
</html>
